body{
	background-color:rgb(12,35,93);
	padding: 0px;
}
h1{
	text-align: center;
	color: white;
}
section{
	margin:0 auto;
	scroll-behavior: auto;
	overflow-y: auto;
}
input[type=text],input[type=file],input[type=submit],input[type=phone],input[type=number]{
	
	border: 2px solid maroon;
	color: red;
	display: inline-flex;
	margin: 2px auto;
	width: 40%;
	color:black;
	padding: 1px;

}
label{
	text-align: right;
	display:inline-block;
	font-weight: bolder;
	padding-right: 15px;
	margin: 0 auto;
	width:30%;
}
  div.img img {
    width: 100%;
}
legend{
	text-align: center;
	/*color:rgb(210,92,130);*/
}
#message{
	width:60%;
	margin: 0 auto;
}
#loader{

	text-align: center;
	z-index: 1000;
	display: none;
	
}

.nav{
	height: 80px;
	position: relative;
	width: 100%;
	top: 0;
	/*padding-top: 30px;*/
	background-color: rgb(22,10,70);
}
.display{
	width: 90%;
	min-height: 200px;
	margin: 0 auto;
	position: relative;

}
h2{
	text-align: center;
	/*color: white;*/
}
.card{
	/*width: 90%;*/
	/*max-height: auto;*/
	min-height: 200px;
	margin: 0 auto;
	/*border: 1px brown solid;*/
	/*padding: 3px;*/
}
.responsive{
	padding: 0 5px;
    float: left;
    width: 49.99999%;
    border-radius: 22px;
    overflow-y: hidden;
    margin: 0 auto;
    /*overflow-x: hidden;*/
    height: auto;
    position: relative;
    text-align: center;
    padding-bottom: 6px;
    border: solid red 1px;
    margin: 6px;
    /*background-color: rgba(22,0,0,.4);*/
    background-color: radial-gradient(rgb(33,44,55),rgb(54,34,65));

}
.date{
	color: green;
}
.desc{
	/*float: right;*/
	text-align: left;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}
.ize{
	
	float: right;
}
button{
	width:100px;
	text-align: center;
	margin: 0 auto;
   
    padding: 2px;
    margin: 3px auto;
    cursor: pointer;

    font-weight: bolder;
    font-size: 20px;
    font-family: tahoma;

}
@media only screen and (max-width: 850px){
    .responsive {
        width: 43.99999%;
        /*width: 90%;*/
        height:270px;
        /*margin: 6px 0;*/
        /*height: 200px;*/
    }
    div.img img {
    width: 100%;
    /*height: 170px;*/
     /*border-radius: 22px;*/
}

}

@media only screen and (max-width: 550px){
	.card,fieldset{
		width: 80%;
	}
    .responsive {
        width: 90.99999%;
        /*width: 90%;*/
        height:270px;
        /*margin: 6px 0;*/
        /*height: 200px;*/
    }
    div.img img {
    width: 100%;
    /*height: 170px;*/
     /*border-radius: 22px;*/
}

}

